<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
    <link href="/main.css" rel = "stylesheet">
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>
    
    <div class>
      <h4> </h4>
    </div>

    

    <div>
        <input type="date" id="selectdate">
        <a id="date-link">확인</a>
        <p id="error-message" style="color: red;"></p>
    </div>

    <div class>
      <h4> </h4>
    </div>

    <script>
        document.getElementById('date-link').addEventListener('click', function(event) {
            this.href = '/detail/' + document.getElementById('selectdate').value;
        })
    </script>
</body>
</html>
